<div class="card mt-2  " *ngFor="let pessoa of pessoas | async">
  <div class="card-body ">
    <h5 class="card-title">{{ pessoa.nome }}</h5>
    <p class="card-text">{{ pessoa.idade }}</p>
    <p class="card-text">{{ pessoa.email }}</p>
    <p class="card-text">{{ pessoa.cidade }}</p>
  </div>
  <div class="card-footer ">
    <button type="button" class="btn btn-info" (click)="edit(pessoa, pessoa.key)" routerLink="/addPessoa">Editar</button>
    <button type="button" class="btn btn-danger ml-2" (click)="delete(pessoa.key)">Excluir</button>
  </div>

</div>